torch
transformers
sentence-transformers

ai4bharat-transliteration
indic-nlp-library

langdetect
fasttext-wheel

pandas
numpy
python-dotenv
tqdm
regex

gradio
streamlit

pytest
loguru

matplotlib
scikit-learn
scipy
